body {
    font-family: Poppins;
}

.code-block {
    background-color: #7287a6;
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #2c2725;
    font-family: monospace;
    background-color: bisque;
    width: 25%;
}